@{
    var list = Session["myCart"] as List<ProjectFinal.Models.ProductOrderModel>;
    var Customer = Session["user"] as ProjectFinal.Models.Customer;
}

<div class="cart_detail">
    <div class="container">
        <h4 class="title_cart">GIỎ HÀNG CỦA BẠN</h4>
    <div ng-if="productS!='0'">
        <table class="table table-hover " ng-init="getProductInSession()">
            <tbody>
                <tr ng-repeat="item in productS">
                    <td>
                        <img src="{{item.IconImg}}" style="width:50px;height:50px;" />
                    </td>
                    <td>{{item.ProductName}}</td>
                    <td>
                        <div class="fs-ghltd fs-ghplus">
                            <div class="fs-ghpltb clearfix">
                                <span class="fsghbtn" ng-click="changeQuantity(item.ProductId,1)"><i>-</i></span>
                                <input class="fs-ghplip" id="total{{item.ProductId}}" type="text" readonly="readonly" value="{{item.Quantity}}" placeholder="0">
                                <span class="fsghbtn" ng-click="changeQuantity(item.ProductId,2)">+</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{item.PriceOut*(100-item.Discount)/100 | currency:"":0}} ₫
                    </td>
                    <td>{{item.PriceOut*(100-item.Discount)/100* item.Quantity | currency:"":0}}₫</td>
                    <td>
                        <a ng-click="deleteCart(item.ProductId)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h5 style="text-align:right;font-weight:bold">Thành Tiền:</h5>
                    </td>
                    <td colspan="3">
                        <h4 style="color:red;text-align:center">{{total | currency:"":0}}₫</h4>
                    </td>
                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">Đặt Hàng</button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLongTitle">Thông Tin Người Nhận Hàng</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            
                            <label for="recipient-name" class="col-form-label">Họ và Tên:</label>
                            <input type="text" ng-model="orderinfo.FullName" class="form-control" id="recipient-name">
                            <span class="text-danger">{{error_fullname}}</span>
                            @*@if (Session["user"] != null)
                                {
                                    <input type="text" ng-model="orderinfo.FullName" class="form-control" value="@Customer.FullName" id="recipient-name">
                                }*@
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Số Điện Thoại:</label>
                            <input type="text" ng-model="orderinfo.Phone" class="form-control" id="recipient-name">
                            <span class="text-danger">{{error_phone}}</span>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="text" ng-model="orderinfo.Email" class="form-control" id="recipient-name">
                            <span class="text-danger">{{error_email}}</span>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Địa Chỉ:</label>
                            <input type="text" ng-model="orderinfo.Address" class="form-control" id="recipient-name">
                            <span class="text-danger">{{error_address}}</span>
                        </div>
                        <input type="hidden" id="totalMoney" value="{{total}}" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" ng-click="createOrder()" class="btn btn-primary">Đặt Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div ng-if="productS=='0'">
            <h4 style="color:red;font-weight:bold">Không Có Sản Phẩm Nào Trong Giỏ Hàng!</h4>
        </div>
    </div>
</div>
