@{
    var list = Session["myCart"] as List<ProjectFinal.Models.ProductViewModel>;
}
<table class="table">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tên Sản  Phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @if (Session["myCart"] != null)
        {
            foreach (var item in list)
             {
                <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>
                <div class="fs-ghltd fs-ghplus">
                    <div class="fs-ghpltb clearfix">
                        <span class="fsghbtn"><i>-</i></span>
                        <input class="fs-ghplip" type="text" readonly="readonly" value="1" placeholder="0">
                        <span class="fsghbtn">+</span>
                    </div>
                </div>
                </td>
                <td>@item.PriceOut</td>
                </tr>
            }
        }
    </tbody>
</table>