@model ProjectFinal.Models.CustomerRegister

@{
    ViewBag.Title = "CreateCustomer";
}
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Đăng Ký</h3>
            <form ng-submit="registerCustomer()">
                <span class="text-danger" >{{error_fullname}}</span>
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" ng-model="Customer.FullName" name="fullname" placeholder="Họ Và Tên" />
                    <div class="clearfix"></div>
                </div>
                <span class="text-danger">{{error_email}}</span>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" ng-model="Customer.Email" name="email" placeholder="Email" />
                    <div class="clearfix"></div>
                </div>
                <span class="text-danger">{{error_phone}}</span>
                <div class="key">
                    <i class="fa fa-phone " aria-hidden="true"></i>
                    <input type="text" ng-model="Customer.Phone" name="phone" placeholder="Số Điện Thoại" />

                    <div class="clearfix"></div>
                </div>
                <span class="text-danger">{{error_address}}</span>

                <div class="key">
                    <i class="fa fa-location-arrow " aria-hidden="true"></i>
                    <input type="text" ng-model="Customer.Address" name="Address" placeholder="Địa Chỉ" />
                    <div class="clearfix"></div>
                </div>
                <span class="text-danger">{{error_password}}</span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" ng-model="Customer.PassWord" name="password" placeholder="Mật Khẩu" />
                    <div class="clearfix"></div>
                </div>
                <span class="text-danger">{{error_passWordConfirm}}</span>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" ng-model="Customer.PassWordConfirm" name="PassWordConfirm" placeholder="Mật Khẩu Xác Nhận" />
                    <div class="clearfix"></div>
                </div>

                <input type="submit" value="Đăng Kí">
            </form>
        </div>
    </div>
</div>
