
@{
    ViewBag.Title = "forgetPassword";
}
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Login</h3>
            <div ng-if="error_forgetEmail!=''" class="alert alert-danger">{{error_forgetEmail}}</div>
            @*<span>{{error_forgetEmail}}</span>*@
            <div class="key">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" ng-model="email" name="Email" autocomplete="off" placeholder="Email" value="">
                <div class="clearfix"></div>
            </div>
            <input type="button" ng-click="forgetPassword()" value="Submit">
        </div>

    </div>
</div>

