
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <p class="tip_reset">Hãy Nhập Mật Khẩu Mới Cho Tài Khoản Của Bạn</p>
            <div ng-if="error_password!=''" class="alert alert-danger">{{error_password}}</div>
            <div class="key">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" ng-model="newPassword" name="Password" autocomplete="off" placeholder="Mật Khẩu Mới" value="">
                <div class="clearfix"></div>
            </div>
            <div class="key">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" ng-model="newPassConfirm" name="Password" autocomplete="off" placeholder="Mật Khẩu Xác Nhận" value="">
                <div class="clearfix"></div>
            </div>
            <input type="button" ng-click="generateNewPass()" value="Submit">
        </div>

    </div>
</div>

