@model List<ProjectFinal.Models.Provider>
<div class="top-brands">
    <div class="container">
        <h3>HÃNG SẢN XUẤT</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
               @foreach (var c in Model)
               {
                <li>
                    <img src="@c.IconImg" alt="@c.Description" class="img-responsive" />
                </li>
               }    
            </ul>
        </div>

    </div>
</div>
