<hr />
<footer>
    <div class="footer">
        <div class="container">
            <div class="col-md-4 footer-grids fgd1">
                <a href="index.html"><img src="~/Content/phone/images/logoPhone.png" alt=" " /><h3>iZMobile<span>Store</span></h3></a>
                <ul>
                    <li>106 Hoàng Quốc Việt ,Quận Cầu Giấy</li>
                    <li>Hà Nội.</li>
                    <li><a href="mailto:info@gmail.com">info@gmail.com</a></li>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </ul>
            </div>
            <div class="col-md-4 footer-grids fgd2">
                <h4>Information</h4>
                <ul>
                    <li><a href="contact.html">Liên hệ</a></li>
                    <li><a href="icons.html">Hướng dẫn mua hàng</a></li>
                    <li><a href="typography.html">Feedback</a></li>
                    <li><a href="faq.html">Câu Hỏi</a></li>
                </ul>
            </div>

            <div class="col-md-4 footer-grids fgd4">
                <h4>My Account</h4>
                <ul>
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("Đăng Xuất", "Logout", "Customer")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng Nhập", "Login", "Customer")</li>
                        <li>@Html.ActionLink("Đăng Ký", "CreateCustomer", "Customer")</li>
                    }

                    <li><a href="recommended.html">Gợi ý</a></li>
                    <!-- 				<li><a href="payment.html">Payments</a></li> -->
                </ul>
            </div>
            <div class="clearfix"></div>
            <p class="copy-right">© 2016 Mobile Store . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
        </div>
    </div>
</footer>